{
  "users": [
    {
      "method": "scram-sha-256",
      "username": "postgres",
      "salt": "<base64-encoded-random-salt>",
      "iterations": 4096,
      "stored_key": "<base64-encoded-32-byte-StoredKey>",
      "server_key": "<base64-encoded-32-byte-ServerKey>"
    }
  ]
}
